 <form asp-controller="UserModels" asp-action="UploadMillion" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx" required />
    <button type="submit">Upload</button>
</form>
